<div class="form">
	<form ng-submit="addTask()">
	    <div class="form-group">
	      <label>Task Name</label>
	      <input type="text" class="form-control" placeholder="Enter Task Name" ng-model="task.name">
	    </div>
	    <div class="form-group">
	      <label>Task Duration</label>
	      <input type="text" class="form-control" placeholder="Enter Task Duration" ng-model="task.duration">
	    </div>
	    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<br><br> 

<div class="table data">
	<table class="table">
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Task Duration</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="active" ng-repeat="task in tasks">
        <td>{{ task.name }}</td>
        <td>{{ task.duration }}</td>
        <td><a class="remove" href="" ng-click="removeTask(task)">X</a></td>
      </tr>
    </tbody>
</div>